.App {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  margin: 20px;
}
